# Protect the htaccess file
<files .htaccess>
	Require all denied
</files>

# Protect the params.php file
<files params.php>
	Require all denied
</files>

# Protect the params.json file
<files params.json>
	Require all denied
</files>

# Protect the index.php file
<files index.php>
	Require all denied
</files>

Require all denied

